/* 2 row 1 column grid */
/* .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.grid > div {
    background-color: #343144;
    border: 2px solid #211f29;
} */

.panelHead {
    font-weight: 700;
    font-size: 0.7em;
    background-color: #1c1925;
    padding: 2px;
}

/* on wide screen, use 1 row 2 column
@media (min-width: 600px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
} */